# DAE
/venv
/permdir
/permdir_test
/dev.yaml
/syncdb_dumps.bak
tmpdir

# Python
*.py[cod]

# Editor
*.sw[op]
local_config.py

gen
bin
target
.idea
.settings
*.iml
.classpath
.project
out
classes
gen-external-apklibs
local.properties
.DS_Store
.gradle
build/

*.pbxuser
xcuserdata
