<%!
from webapp.models.page import Action, Page
%>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <title>${self.title()} · Demo</title>
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, maximum-scale=1.0, user-scalable=1" />
        <link rel="stylesheet" href="/static/css/bootstrap-3.0.3.min.css">
        <link rel="stylesheet" href="/static/css/font-awesome-3.2.1.min.css">
        <link rel="stylesheet" href="/static/css/messenger.css">
        <link rel="stylesheet" href="/static/css/messenger-theme-air.css">
        <link rel="stylesheet" href="/static/css/demo.css">
        <link rel="stylesheet" href="/static/css/jquery.Jcrop-0.9.12.min.css">
        <%block name="extra_head"></%block>
    </head>
    <body id="body">
        <div class="main-sidebar">
            <div class="sidebar-footer clearfix">
                <a class="brand" href="/"><img src="/static/img/apk.jpg" width="120" height="120">
                    <div>Demo Maker</div>
                </a>
            </div>
            %if user:
            <a href="/" class="btn btn-block btn-success">我的应用</a>
            %endif

            <a class="btn btn-block btn-success"
                href="http://andariel.douban.com/d/com.demo.maker" target="_blank">下载Apk</a>
            <div class="laucher-icon">
                <a href="${app.path}">
                    <img src="${app.icon}"/>
                </a>
                <p>${app.name}</p>
            </div>
            <br>
            %if app.can_admin(req.user):
            <ul class="nav nav-pills nav-stacked">
                <li>
                <button class="btn btn-block btn-primary btn-new-page" type="button"
                    data-toggle="modal"
                    data-app-id="${app.id}"
                    data-w="${app.zoomed_width}"
                    data-h="${app.zoomed_height}"
                    data-type="${Page.TYPE_NORMAL}"
                    >新建页面</button>
                </li>
            </ul>
            %endif
            <div class="qrcode">
                <img src="${app.path}/qrcode"/>
                <p>扫描开始演示</p>
            </div>
        </div>
        <div class="main-content">
            <div id="page-list" class="clearfix">
                ${page_list(app)}
            </div>
        </div>
        <div class="modal fade" id="new-action-dialog" tabindex="-1" role="dialog"></div>
        <div class="modal fade" id="new-page-dialog" tabindex="-1" role="dialog"></div>
        <script src="/static/js/jquery-1.10.2.min.js"></script>
        <script src="/static/js/bootstrap-3.0.3.min.js"></script>
        <script src="/static/js/messenger.min.js"></script>
        <script src="/static/js/messenger-theme-future.js"></script>
        <script src="/static/js/jquery.Jcrop-0.9.12.min.js"></script>
        <script src="/static/js/raphael-2.1.2.min.js"></script>
        <script>${self.body_script()}</script>
    </body>
</html>

<%def name="title()">App</%def>

<%def name="page_list(app)">
%for p in app.pages:
%if p.type not in [Page.TYPE_LIST, ]:
<div id="page-${p.id}" class="app-page">
    ${page_worktable(p)}
</div>
%endif
%endfor
</%def>

<%def name="page_worktable(p)">
<div class="page-title clearfix">
    ${p.name} #P${p.id}
    %if p.app.can_admin(req.user):
    <button type="button" class="btn btn-default ll" onclick="check_remove('${p.id}')">
        <i class="glyphicon glyphicon-remove"></i>
    </button>
    <button id="btn-add-${p.id}" type="button" class="btn btn-primary rr" onclick="toggle_action('${p.id}')">
        <i class="glyphicon glyphicon-plus"></i>
    </button>
    %endif
</div>
%if p.type != Page.TYPE_ITEM:
<div class="page-bg">
%if p.screen.is_android:
    %if p.parent:
    <img src="/static/img/top_bar.png" width="${p.parent.zoomed_width}"/>
    %else:
    <img src="/static/img/top_bar.png" width="${p.zoomed_width}"/>
    %endif
%endif
</div>
%endif

%if p.parent and p.type != Page.TYPE_ITEM:
<div id="parent-view-${p.id}" style="position:relative;width:${p.parent.zoomed_width}px;height:${p.parent.zoomed_height}px;background:rgba(22, 85, 154, 0.5);">
<img src="${p.parent.photo}" width="${p.parent.zoomed_width}" class="parent-img"/>
<div id="wrapper-${p.id}" style="position:absolute;width:${p.zoomed_width}px;height:${p.zoomed_height}px;left:${p.zoomed_x};top:${p.zoomed_y};z-index:1;">
%endif

<div id="view-${p.id}" class="page-view" style="position:relative;width:${p.zoomed_width}px;height:${p.zoomed_height}px;background:rgba(22, 85, 154, 0.5);">
    <div class="page-bg">
    <img src="${p.photo}" width="${p.zoomed_width}" class="page-img"/>
    </div>
    %for i, sp in enumerate(p.sub_pages):
    %if sp.type == Page.TYPE_LIST:
    <div id="list-wrapper-${p.id}" class="list-wrapper"
        style="position:absolute;left:${sp.zoomed_x}px;top:${sp.zoomed_y}px;z-index:10${i}">
        <div style="background:rgba(51, 181, 229, 0.5);width:${sp.zoomed_width}px;height:${sp.zoomed_height}px;overflow-y:auto;overflow-x:hidden;float:left">
            <div id="list-${p.id}" class="page-list">
            %for li in sp.sub_pages:
            %if li.type == Page.TYPE_ITEM:
            <div class="page-list-item" style="background:rgba(51, 181, 229, 0.5);height:${li.zoomed_height};">
            %if li.photo:
            <img src="${li.photo}" width="${li.zoomed_width}" class="page-img"/>
            %endif
            </div>
            %endif
            %endfor
            </div>
        </div>
        %if p.app.can_admin(req.user):
        <div class="rr act-hh">
        <a style="color:#B43429" onclick="check_remove('${sp.id}')">
            <i class="glyphicon glyphicon-remove" style="font-size:16px;padding-left:16px;"></i>
        </a>
        <br>
        <a id="btn-add-item-${sp.id}" style="color:#B43429" class="btn-new-item"
            data-app-id="${sp.app.id}"
            data-page-id="${sp.id}"
            data-type="${Page.TYPE_ITEM}"
            data-w="${sp.zoomed_width}"
            data-h="${sp.zoomed_height}"
            >
            <i class="glyphicon glyphicon-plus" style="font-size:16px;padding-left:16px;"></i>
        </a>
        </div>
        %endif
    </div>
    %endif
    %endfor

    %for i, a in enumerate(p.actions):
    <div id="action-${a.id}" class="page-action"
        style="background:rgba(51, 181, 229, 0.5);width:${a.rect.width};height:${a.rect.height};position:absolute;left:${a.rect.x};top:${a.rect.y};z-index:20${i};font-size:24px;"
        data-page_id="${a.page_id}"
        data-to_page_id="${a.to_page_id}"
        >
        <span class="act-hh" style="font-size:14px">#A${a.id}
            %if a.to_page_id != "0":
            -&gt;#P${a.to_page_id}
            %endif
            %if a.dismiss:
            x
            %endif
        </span>
        <i class="glyphicon ${a.type_icon}" style="position:absolute;top:${a.rect.height/2-12}px;left:${a.rect.width/2-12}px"></i>
        %if p.app.can_admin(req.user):
        <a class="rr act-hh" style="color:#B43429" onclick="check_remove_action('${p.id}', '${a.id}')">
            <i class="glyphicon glyphicon-remove" style="font-size:16px;padding-left:16px;"></i>
        </a>
        %endif
    </div>
    %endfor
</div>

%if p.parent and p.type != Page.TYPE_ITEM:
</div>
</div>
%endif

%if p.type != Page.TYPE_ITEM:
%if p.screen.virtual_keys:
    %if p.parent:
    <img src="/static/img/bottom_bar.png" width="${p.parent.zoomed_width}"/>
    %else:
    <img src="/static/img/bottom_bar.png" width="${p.zoomed_width}"/>
    %endif
%endif
%endif
%if p.app.can_admin(req.user):
<div id="toolbar-${p.id}" class="page-toolbar clearfix">
    %if p.type not in [Page.TYPE_ITEM, Page.TYPE_DIALOG]:
    <button type="button" class="btn btn-info ll btn-new-page"
        data-toggle="tooltip" 
        data-placement="bottom"
        title data-original-title="对话框"
        data-app-id="${p.app.id}"
        data-page-id="${p.id}"
        data-type="${Page.TYPE_DIALOG}"
        >
        <i class="glyphicon glyphicon-file"></i>
    </button>
    <button type="button" class="btn btn-info ll btn-new-page"
        data-toggle="tooltip"
        data-placement="bottom"
        title data-original-title="列表"
        data-app-id="${p.app.id}"
        data-page-id="${p.id}"
        data-type="${Page.TYPE_LIST}"
        >
        <i class="glyphicon glyphicon-list"></i>
    </button>
    %endif
    <button type="button" class="btn btn-info ll btn-new-act"
        data-toggle="tooltip" 
        data-placement="bottom"
        title data-original-title="点击"
        data-page-id="${p.id}"
        data-action-type="${Action.TYPE_TOUCH}"
        >
        <i class="glyphicon glyphicon-hand-up"></i>
    </button>
    <button type="button" class="btn btn-info ll btn-new-act"
        data-toggle="tooltip" 
        data-placement="bottom"
        title data-original-title="滑动"
        data-page-id="${p.id}"
        data-action-type="${Action.TYPE_SLIDE}"
        >
        <i class="glyphicon glyphicon-resize-horizontal"></i>
    </button>
    %if p.type != Page.TYPE_ITEM:
   <button type="button" class="btn btn-info ll btn-new-act"
        data-toggle="tooltip" 
        data-placement="bottom"
        data-page-id="${p.id}"
        data-action-type="${Action.TYPE_INPUT}"
        title data-original-title="输入框"
        >
        <i class="glyphicon glyphicon-text-width"></i>
    </button>
    %endif
    <div class="btn-group">
        <button type="button" class="btn btn-info btn-new-act"
            data-toggle="tooltip"
            data-placement="bottom"
            data-page-id="${p.id}"
            data-action-type="${Action.TYPE_BACK}"
            title data-original-title="返回"
            >
            <i class="icon-reply"></i>
        </button>
        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
            <i class="glyphicon glyphicon-chevron-down"></i>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li>
            <a class="btn-new-act"
                data-page-id="${p.id}"
                data-action-type="${Action.TYPE_GALLERY}"
                href="#"
                >
                <span class="glyphicon glyphicon-picture"></span>
                &nbsp;相册选图
            </a>
            </li>
            <li>
            <a class="btn-new-act"
                data-page-id="${p.id}"
                data-action-type="${Action.TYPE_CAMERA}"
                href="#"
                >
                <span class="glyphicon glyphicon-camera"></span>
                &nbsp;拍照选图
            </a>
            </li>
            <li>
            <a class="btn-new-act"
                data-page-id="${p.id}"
                data-action-type="${Action.TYPE_SHARE}"
                href="#"
                >
                <span class="glyphicon glyphicon-share"></span>
                &nbsp;系统分享
            </a>
            </li>
        </ul>
    </div>
</div>
%endif
</%def>

<%def name="page_form(app, rect, parent, page_type)">
    <form id="new-form" role="form" enctype="multipart/form-data"
        class="form-horizontal" method="post" action="/page/">
    <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            %if page_type == Page.TYPE_DIALOG:
            <h2 class="modal-title">创建对话框</h4>
            %elif page_type == Page.TYPE_LIST:
            <h2 class="modal-title">创建列表</h4>
            %elif page_type == Page.TYPE_ITEM:
            <h2 class="modal-title">创建新列表项</h4>
            %else:
            <h2 class="modal-title">创建新页面</h4>
            %endif
          </div>
          <div class="modal-body">
            <input id="app-id" name="app_id" type="hidden" value="${app.id}"/>
            <input id="page-parent-id" type="hidden" value="${parent and parent.id or 0}"/>
            <input id="page-type" type="hidden" value="${page_type}"/>
            <div class="form-group">
                <label for="page-name" class="col-sm-2 control-label">
                    %if page_type == Page.TYPE_LIST:
                    列表名
                    %elif page_type == Page.TYPE_ITEM:
                    列表项名
                    %else:
                    页面名
                    %endif
                </label>
                <div class="col-sm-10">
                    <input id="page-name" name="page-name" type="text" 
                    class="form-control"
                    %if page_type == Page.TYPE_LIST:
                    placeholder="请输入列表名"
                    %elif page_type == Page.TYPE_ITEM:
                    placeholder="请输入列表单元名"
                    %else:
                    placeholder="请输入页面名"
                    %endif
                    value="">
                    <span id="page-name-error" style="display:none" class="text-danger">名称不能为空</span>
                </div>
            </div>
            %if parent:
            <div class="form-group">
                <label for="page-parent-name" class="col-sm-2 control-label">父页面</label>
                <div class="col-sm-10">
                    <input id="page-name" name="page-name" type="text" 
                    class="form-control" disabled value="${parent.name}">
                </div>
            </div>
            %endif
            %if page_type == Page.TYPE_ITEM:
            <div class="hh">
            %endif
            <div class="form-group">
                <label for="page-x" class="col-sm-2 control-label">左</label>
                <div class="col-sm-10">
                    <input id="page-x" name="page-x" type="text" disabled
                        class="form-control" value="${rect.x}">
                </div>
            </div>
            <div class="form-group">
                <label for="page-y" class="col-sm-2 control-label">上</label>
                <div class="col-sm-10">
                    <input id="page-y" name="page-y" type="text" disabled
                        class="form-control" value="${rect.y}">
                </div>
            </div>
            <div class="form-group">
                <label for="page-width" class="col-sm-2 control-label">宽</label>
                <div class="col-sm-10">
                    <input id="page-width" name="page-width" type="text" disabled
                        class="form-control" value="${rect.width}">
                </div>
            </div>
            <div class="form-group">
                <label for="page-height" class="col-sm-2 control-label">高</label>
                <div class="col-sm-10">
                    <input id="page-height" name="page-height" type="text" disabled
                        class="form-control" value="${rect.height}">
                </div>
            </div>
            %if page_type == Page.TYPE_ITEM:
            </div>
            %endif
            <div class="form-group">
                <label for="page-photo" class="col-sm-2 control-label">图片</label>
                <div class="col-sm-10">
                    <input id="page-photo" name="page-photo" type="file" class="form-control">
                    <span class="help-block">分辨率为${rect.width}x${rect.height}
                    p.s. 如不传图片，默认为半透明
                    </span>
                    <span id="page-photo-error" style="display:none" class="text-danger">不能为空</span>
                </div>
            </div>
        </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-primary" onclick="check_form()">确定创建</button>
          </div>
        </div><!-- /.modal-content -->
     </div><!-- /.modal-dialog -->
     </form>
</%def>

<%def name="action_form(page, rect, type)">
<form id="new-action-form" role="form" class="form-horizontal" method="post" action="${page.path}/add_action">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2 class="modal-title">创建新动作</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="action-page" class="col-sm-2 control-label">当前页面</label>
                    <div class="col-sm-10">
                        <input name="action-page" type="text" disabled class="form-control" value="${page.name}">
                    </div>
                </div>
                %if type not in [Action.TYPE_BACK, Action.TYPE_INPUT, Action.TYPE_SHARE]:
                <div class="form-group">
                    <label for="to-page" class="col-sm-2 control-label">目标页面</label>
                    <div class="col-sm-10">
                        <select id="action-to-page" name="action-to-page" class="form-control">
                            <option value="">----</option>
                            %for p in page.app.pages:
                            %if p.id != page.id and p.type not in [Page.TYPE_LIST, Page.TYPE_ITEM]:
                            <option value="${p.id}">${p.name}</option>
                            %endif
                            %endfor
                        </select>
                    </div>
                </div>
                %endif
                %if type != Action.TYPE_SLIDE:
                <div class="form-group">
                    <label for="action-type" class="col-sm-2 control-label">类型</label>
                    <div class="col-sm-10">
                    <input id="action-type-name" name="action-type-name" type="text" 
                            disabled class="form-control" value="${Action.TYPE_NAMES[type]}">
                    <input id="action-type" name="action-type" type="hidden" class="form-control" value="${type}">
                    </div>
                </div>
                %else:
                <div class="form-group">
                    <label for="action-type" class="col-sm-2 control-label">类型</label>
                    <div class="col-sm-10">
                        <select id="action-type" name="action-type" class="form-control">
                            <option value="${Action.TYPE_SLIDE_LEFT}">
                                    ${Action.TYPE_NAMES[Action.TYPE_SLIDE_LEFT]}</option>
                            <option value="${Action.TYPE_SLIDE_RIGHT}">
                                    ${Action.TYPE_NAMES[Action.TYPE_SLIDE_RIGHT]}</option>
                            <option value="${Action.TYPE_SLIDE_UP}">
                                    ${Action.TYPE_NAMES[Action.TYPE_SLIDE_UP]}</option>
                            <option value="${Action.TYPE_SLIDE_DOWN}">
                                    ${Action.TYPE_NAMES[Action.TYPE_SLIDE_DOWN]}</option>
                        </select>
                    </div>
                </div>
                %endif
                %if type not in [Action.TYPE_INPUT, Action.TYPE_SHARE]:
                <div class="form-group">
                    <label for="action-dismiss" class="col-sm-2 control-label">其他</label>
                    <div class="col-sm-10">
                        <div class="checkbox">
                            <label>
                            %if type != Action.TYPE_BACK:
                            <input id="action-dismiss" type="checkbox" value="Y"/>是否结束当前页面
                            %else:
                            <input id="action-dismiss" type="checkbox" checked="checked" disabled value="Y"/>是否结束当前页面
                            %endif
                            </label>
                        </div>
                    </div>
                </div>
                %endif
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" onclick="check_action_form('${page.id}')">确定创建</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->

</form>
</%def>

<%def name="body_script()">

var trace = function(o){
    if(window.console && window.console.log){
        console.log(o);
    }
};

$('body').on('hidden.bs.modal', '.modal', function () {
  $(this).removeData('bs.modal');
});

var actions = {};
$('.page-toolbar .btn').tooltip();

Messenger.options = {
    extraClasses: 'messenger-fixed messenger-on-bottom',
    theme: 'air'
};


function toggle_action(page_id){
    var btn = $('#btn-add-'+page_id);
    
    var jcrop_api = actions[page_id];
    if (jcrop_api){
        btn.html('<i class="glyphicon glyphicon-plus"></i>');
        jcrop_api.release();
        delete actions[page_id];
        return;
    }

    btn.html('<i class="glyphicon glyphicon-remove"></i>');

    jcrop_api = $.Jcrop('#view-'+page_id,{
        minSize: [30, 30],
    });
    jcrop_api.setSelect([100, 200, 300, 260]);
    actions[page_id] = jcrop_api;
}

$('#body').delegate('.btn-new-item', 'click', function(){
    var app_id = $(this).data('app-id');
    var page_id = $(this).data('page-id');
    var jcrop_api = actions[page_id];
    var t = $(this).data('type');
    var w = $(this).data('w');
    var h = $(this).data('h');
    var url = '/page/?app_id='+app_id+'&parent_id='+page_id+'&x=0&y=0&w='+w+'&h='+h+'&type='+t;
    $('#new-page-dialog').modal({
        remote: url,
    });

});

$('#body').delegate('.btn-new-page', 'click', function(){
    var app_id = $(this).data('app-id');
    var page_id = $(this).data('page-id');
    var jcrop_api = actions[page_id];
    var url;
    var w = 0;
    var h = 0;
    var t = $(this).data('type');
    if (jcrop_api){
        r = jcrop_api.tellSelect();
        w = r.w;
        h = r.h;
        url = '/page/?app_id='+app_id+'&parent_id='+page_id+'&x='+r.x+'&y='+r.y+'&w='+w+'&h='+h+'&type='+t;
    }else{
        w = $(this).data('w');
        h = $(this).data('h');
        url = '/page/?app_id='+app_id+'&x=0&y=0&w='+w+'&h='+h+'&type='+t;
    }

    if (w > 0 && h > 0){
        $('#new-page-dialog').modal({
            remote: url,
        });
    }

});

$('#page-list').delegate('.btn-new-act', 'click', function(){
    var page_id = $(this).data('page-id');
    var type = $(this).data('action-type');
    var jcrop_api = actions[page_id];
    if (jcrop_api){
        r = jcrop_api.tellSelect();
        url = '/page/'+ page_id+'/add_action?type='+type+'&x='+r.x+'&y='+r.y+'&w='+r.w+'&h='+r.h;

        $('#new-action-dialog').modal({
            remote: url,
        });
    }
});

function check_action_form(page_id){
    var jcrop_api = actions[page_id];
    rect = jcrop_api.tellSelect();
    to_page_id = $("#action-to-page").val();
    type = $("#action-type").val();
    dismiss = $("#action-dismiss").prop("checked") ? 'Y' : 'N';
    $.post("/page/" + page_id + "/add_action", {
            "output":"json",
            "to_page": to_page_id,
            "type":type,
            "x": rect.x,
            "y": rect.y,
            "w": rect.w,
            "h": rect.h,
            "dismiss": dismiss,
        }, function(r){
            $('#page-'+page_id).html(r.html);
        });
    $('#new-action-dialog').modal('hide');
}

function check_remove_action(page_id, action_id){
    if (confirm("你真的要删除这个动作？")){
        $("#action-"+action_id).hide();
        $.post("/page/" + page_id + "/remove_action", {
                    "output":"json",
                    "action_id":action_id
            }, function(r){
            });
    }
}

function check_remove(page_id){
    if (confirm("你真的要删除这个页面？")){
        $("#view-"+page_id).hide();
        $("#page-"+page_id).hide();
        $.post("/page/" + page_id + "/remove", {"output":"json"}, function(r){
        });
    }
}

function check_form(){
    check = true;
    page_name = $("#page-name").val();
    var type = $("#page-type").val();
    if (page_name == ''){
        check = false;
        $("#page-name-error").show();
    }else{
        $("#page-name-error").hide();
    }
    /*
    if ($("#page-photo").val() == ''){
        check = false;
        $("#page-photo-error").show();
    }else{
        $("#page-photo-error").hide();
    }
    */
    if (check){
        var fd = new FormData();
        var xhr = new XMLHttpRequest();
        fd.append("output", "json");
        fd.append("app_id", $("#app-id").val());
        fd.append("name", $("#page-name").val());
        if ($("#page-photo").val() != ''){
            fd.append("photo", $("#page-photo")[0].files[0]);
        }
        fd.append("x", $("#page-x").val());
        fd.append("y", $("#page-y").val());
        fd.append("w", $("#page-width").val());
        fd.append("h", $("#page-height").val());
        fd.append("type", type);
        fd.append("parent_id", $("#page-parent-id").val());
        xhr.open("POST", $("#new-form").attr("action"), true);
        xhr.onreadystatechange = function(){
            if (xhr.readyState === 4) {
                if (xhr.status >= 200 && xhr.status < 400) {
                    r = JSON.parse(xhr.responseText);
                    $("#page-list").html(r.html);
                    $('.page-toolbar .btn').tooltip();
                }
            }
        }; 
        xhr.send(fd);
        $('#new-page-dialog').modal('hide');
    }
}

function drawLine(canvas, pathStr, duration, attr, callback)
{    
    var guidePath = canvas.path(pathStr).attr({ stroke: "none", fill: "none" });
    var path = canvas.path(guidePath.getSubpath(0, 1)).attr(attr);
    var totalLength = guidePath.getTotalLength(guidePath);
    var startTime = new Date().getTime();
    var intervalLength = 25;

    var intervalId = setInterval(function()
    {
        var elapsedTime = new Date().getTime() - startTime;
        var thisLength = elapsedTime / duration * totalLength;
        var subPathStr = guidePath.getSubpath(0, thisLength);
        attr.path = subPathStr;
        path.animate(attr, intervalLength);

        if(elapsedTime >= duration)
        {
            clearInterval(intervalId);
            if(callback != undefined)
                callback();
        }
    }, intervalLength);
    return path;
}

var canvas = Raphael(0, 0, document.body.scrollWidth, document.body.scrollHeight);
canvas.canvas.style['pointer-events'] = 'none';

$('#page-list').delegate('.page-action', 'mouseover', function(){

    var attr = {
        'arrow-end':        'open-wide',
        'stroke':           '#0080FF',
        'stroke-dasharray': '-',
        'stroke-width':     4,
    };

    action = $(this);
    page = $('#page-'+action.data('to_page_id'));
    p1 = action.offset();
    p2 = page.offset();
    if (p2){
        x1 = p1.left;
        y1 = p1.top;
        x2 = p2.left;
        y2 = p2.top + 50;
        if (x2 > x1){
            x1 = x1 + action.width()/2; 
            if (y2 > y1){
                y1 = y1 + action.height();
            }
        }else{
            y1 = y1 + action.height()/2;
        }

        x3 = x1 + 10;
        y3 = y1;

        x4 = x3;
        y4 = y2;

        var path = 'M'+x1+' '+y1+'L'+x2+' '+y2;
        //var path = 'M'+x1+' '+y1+'L'+x3+' '+y3+'L'+x4+' '+y4+'L'+x2+' '+y2;
        arrow = drawLine(canvas, path, 1000, attr);
        //arrow = canvas.path(path).attr(attr);
    }
});

$('#page-list').delegate('.page-action', 'mouseout', function(){
    canvas.clear();
});


</%def>
