<%!
from webapp.models.app import DEFAULT_SCREEN
%>

<%inherit file="/base.html" />

<%def name="title()">Apps</%def>

<%def name="body()">
<div class="container">
    <h1 id="apps-title">我的应用<a class="act-hh" href="/logout">登出</a></h2>
</div>
<div style="background:#16559A;margin:116px 0;width:100%;height:544px">
    <div class="container">
        <div class="row">
            <div style="position:relative;top:-104px;z-index:0">
                <img src="/static/img/screen_n4.png" style="float:left"/>
            </div>
            <div style="position:relative;top:-778px;left:385px;z-index:2;width:20px;">
                <img src="/static/img/right_bar.png"/>
            </div>
            <div id="app-list" class="col-md-12" style="position:relative;top:-1370px;left:10px;z-index:1;height:450px">
                ${app_list(apps)}
            </div>

            <div class="col-md-12" style="position:relative;top:-1370px;left:10px;z-index:1">
                <div class="app-icon-add" style="float:left">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#dialog-new">+</button>
                </div>
            </div>
            <div class="modal fade" id="dialog-edit" tabindex="-1" role="dialog">
            </div>
            <div class="modal fade" id="dialog-new" tabindex="-1" role="dialog">
                <form id="form-new" role="form" enctype="multipart/form-data"
                    class="form-horizontal" method="post" action="/app/">
                <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h2 class="modal-title">创建应用</h2>
                      </div>
                      <div class="modal-body">
                        <div class="form-group">
                            <label for="name-new" class="col-sm-2 control-label">应用名</label>
                            <div class="col-sm-10">
                                <input id="name-new" name="app-name" type="text" 
                                        class="form-control" placeholder="请输入应用名" value="">
                                <span id="name-error-new" style="display:none" class="text-danger">应用名不能为空</span>
                                <span id="name-error2-new" style="display:none" class="text-danger">应用名不能长于12个字符</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="device-new" class="col-sm-2 control-label">设备</label>
                            <div class="col-sm-10">
                                <select id="device-new" name="device-new" class="form-control">
                                    %for s in screens:
                                    <option value="${s.id}">
                                    ${s.os} / 
                                    ${s.name} /
                                    ${s.width}x${s.height} /
                                    ${s.icon_width}x${s.icon_height} /
                                    %if s.os == 'android':
                                    ${s.virtual_keys and '有虚拟键' or '无虚拟键'}
                                    %endif
                                    </option>
                                    %endfor
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="icon-new" class="col-sm-2 control-label">图标</label>
                            <div class="col-sm-10">
                                <input id="icon-new" name="app-icon" type="file" class="form-control">
                                <span class="help-block">分辨率为96x96</span>
                                <span id="icon-error-new" style="display:none" class="text-danger">不能为空</span>
                            </div>
                        </div>
                    </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary" onclick="check_form('new')">确定创建</button>
                      </div>
                    </div><!-- /.modal-content -->
                 </div><!-- /.modal-dialog -->
                 </form>
            </div>
        </div>
    </div>
</div>
</%def>

<%def name="app_list(apps)">
%for a in apps:
<div class="app-icon" style="float:left">
    <div class="laucher-icon">
        <a href="${a.path}">
        <img src="${a.icon}"/>
        </a>
        <p>
        <a href="${a.path}">
        ${a.name}
        </a>
        </p>
    </div>
    <a class="act-rr act-hh" onClick="check_remove(${a.id})"><i class="glyphicon glyphicon-remove"></i></a>
    <a class="act-rl act-hh" href="${a.path}edit" data-toggle="modal" data-target="#dialog-edit">
        <i class="glyphicon glyphicon-pencil"></i></a>

</div>
%endfor
</%def>

<%def name="app_edit_dialog(app)">
<form id="form-edit" role="form" enctype="multipart/form-data"
    class="form-horizontal" method="post" action="${app.path}/edit">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2 class="modal-title">修改应用</h2>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="name-edit" class="col-sm-2 control-label">应用名</label>
                    <div class="col-sm-10">
                        <input id="name-edit" name="app-name" type="text" 
                        class="form-control" placeholder="请输入应用名" value="${app.name}">
                        <span id="name-error-edit" style="display:none" class="text-danger">应用名不能为空</span>
                        <span id="name-error2-edit" style="display:none" class="text-danger">应用名不能长于12个字符</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="device-edit" class="col-sm-2 control-label">设备</label>
                    <div class="col-sm-10">
                        <select id="device-edit" name="device-edit" class="form-control">
                            %for s in screens:
                            <option value="${s.id}">
                            ${s.os} / 
                            ${s.name} /
                            ${s.width}x${s.height} /
                            ${s.icon_width}x${s.icon_height} /
                            %if s.os == 'android':
                            ${s.virtual_keys and '有虚拟键' or '无虚拟键'}
                            %endif
                            </option>
                            %endfor
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="icon-edit" class="col-sm-2 control-label">图标</label>
                    <div class="col-sm-10">
                        <img src="${app.icon}" style="float:left" class="clearfix"/>
                        <div class="col-sm-8">
                        <input id="icon-edit" name="app-icon" type="file" class="form-control">
                        <span class="help-block">分辨率为96x96</span>
                        <span id="icon-error-edit" style="display:none" class="text-danger">不能为空</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" onclick="check_form('edit')">确定修改</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</form>
</%def>

<%def name="body_script()">
function check_remove(app_id){
    if (confirm("你真的要删除这个应用吗？")){
        $.post("/app/" + app_id + "/remove", {"output":"json"}, function(r){
            $("#app-list").html(r.html);
        });
    }
}

function check_form(cate){
    check = true;
    app_name = $("#name-"+cate).val();
    screen_id = $("#device-"+cate).val();
    if (app_name == ""){
        check = false;
        $("#name-error-"+cate).show();
    }else if (app_name.length > 12){
        $("#name-error2-"+cate).show();
        check = false;
    }else{
        $("#name-error-"+cate).hide();
        $("#name-error2-"+cate).hide();
    }
    if (cate == "new" && $("#icon-"+cate).val() == ""){
        check = false;
        $("#icon-error-"+cate).show();
    }else{
        $("#icon-error-"+cate).hide();
    }
    if (check){
        var fd = new FormData();
        var xhr = new XMLHttpRequest();
        fd.append("output", "json");
        fd.append("app_name", app_name);
        fd.append("app_screen", screen_id);
        if ($("#icon-"+cate).val()){
            fd.append("app_icon", $("#icon-"+cate)[0].files[0]);
        }
        xhr.open("POST", $("#form-"+cate).attr("action"), true);
        xhr.onreadystatechange = function(){
            if (xhr.readyState === 4) {
                if (xhr.status >= 200 && xhr.status < 400) {
                    r = JSON.parse(xhr.responseText);
                    $("#app-list").html(r.html);
                }
            }
        }; 
        xhr.send(fd);
        $('#dialog-'+cate).modal('hide');
    }
}
</%def>
