<%inherit file="/base.html" />

<%def name="title()">Welcome</%def>

<%def name="body()">
<div class="container">
    <h1>App Demo Maker</h1>
</div>
<div style="background:#16559A;margin:24px 0;width:100%;height:328px">
    <div class="container">
        ${self.content()}
    </div>
</div>
</%def>

<%def name="content()">
<div class="row">
    <div class="col-md-6">
        <img src="/static/img/nexus4.jpg" style="position:relative;top:-16px"/>
    </div>
    <div class="col-md-3" style="padding:36px">
        <form class="form-horizontal" role="form" method="post" action="/login">
            <div class="form-group">
                <label class="sr-only" for="email">Email</label>
                <input name="email" type="email" class="form-control" id="email" placeholder="Email" value="${email}">
            </div>
            <div class="form-group">
                <label class="sr-only" for="password">Password</label>
                <input name="password" type="password" class="form-control" id="password" placeholder="Password">
            </div>
            <div class="form-group">
                <input name="login" type="submit" class="btn btn-primary btn-block" value="Sign In"/>
            </div>
            <div class="form-group">
                <input name="register" type="submit" class="btn btn-default btn-block" value="Sign up"/>
            </div>
            <div class="apk-download">
                <img src="/static/img/apk.jpg" width="80" height="80"/>
            </div>
        </form>
    </div>
</div>
</%def>

<%def name="body_script()">
    Messenger.options = {
        extraClasses: 'messenger-fixed messenger-on-bottom',
        theme: 'air'
    };
    %if error:
    Messenger().post({
        message: '${error}', 
        type:'error',
        showCloseButton: true
    });
    %endif 
</%def>
